body{
    background-color: rgba(52, 63, 218, 0.589);
}
h1{
    color: rgb(224, 209, 189)
}
h3{
    color: blue;
}
input[type="submit"], textarea{
    background-color: blue;
    height: 20%;
    width: 200px;
}
input[type="text"],textarea{
    height: 40px;
    width: 250px; ;
}